[submodule "Engine/Vendor/EASTL"]
	path = Engine/Vendor/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "Engine/Vendor/Spdlog"]
	path = Engine/Vendor/Spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Vendor/MagicEnum"]
	path = Engine/Vendor/MagicEnum
	url = https://github.com/Neargye/magic_enum
[submodule "Engine/Vendor/GLFW"]
	path = Engine/Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Editor/Vendor/ImGui"]
	path = Editor/Vendor/ImGui
	url = https://github.com/AhsanSarwar45/imgui
	branch = docking
[submodule "Editor/Vendor/ImPlot"]
	path = Editor/Vendor/ImPlot
	url = https://github.com/epezent/implot
[submodule "Tests/Vendor/Catch2"]
	path = Tests/Vendor/Catch2
	url = https://github.com/catchorg/Catch2
